<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SharePoint.SpecFlow.Sample" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<specFlow>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <unitTestProvider name="MsTest" />
  <stepAssemblies>
    <stepAssembly assembly="SharePoint.SpecFlow" />
  </stepAssemblies>

</specFlow>
  <userSettings>
    <SharePoint.SpecFlow.Sample>
      <setting name="SiteUri" serializeAs="String">
        <value>http://rp2013-3:113</value>
      </setting>
    </SharePoint.SpecFlow.Sample>
  </userSettings>
</configuration>